.editable-input {
  display: flex;
  flex-direction: row;
  gap: 5px;

  padding: 5px 0;

  &.placeholder:not(.edit) {
    padding: 5px;

    border: lightgrey solid 1px;
    border-radius: 5px;
  }

  &.placeholder {
    color: lightgrey;
  }

  p {
    margin: 0;

    word-break: break-word;
  }

  &.textarea,
  textarea {
    width: 100%;
  }
}

@media print {
  .editable-input {
    padding: 0 !important;

    border: none !important;
  }
}
