$font-family: Verdana, Geneva, Tahoma, sans-serif;

:root,
body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 18px;
}

body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.8rem;
  font-family: $font-family;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.controls {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  .row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

h1 {
  width: 100%;
  margin: 0;
  padding: 0 0 5px 0;

  text-align: center;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

// GENERAL

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 20px;
  padding: 10px 10%;

  background-color: lightblue;
}

footer {
  justify-content: center;

  padding: 10px;

  font-size: 0.7rem;
}

.name p {
  font-size: 2rem;
  font-weight: bold;
}

// ALL SECTIONS

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  > button:not(.delete) {
    margin: 20px 0;
    background-color: lightgreen;
  }

  [class*="editable-input"][class*="location-"] p,
  [class*="editable-input"][class*="company-"] p,
  [class*="editable-input"][class*="school-"] p,
  [class*="editable-input"][class*="activity-"] p {
    font-weight: bold;
  }

  [class*="editable-input"][class*="start-"] p,
  [class*="editable-input"][class*="end-"] p,
  [class*="editable-input"][class*="role-"] p,
  [class*="editable-input"][class*="award-"] p,
  [class*="editable-input"][class*="achievement-"] p {
    font-style: italic;
  }

  &.skills {
    display: grid;
    grid-template-columns: minmax(50px, min-content) 1fr min-content;
    gap: 15px;

    h1,
    button:not(.delete) {
      grid-column: 1 / -1;
    }

    [class*="editable-input"][class*="type"] p {
      font-weight: bold;
      word-break: normal;
    }
  }

  &:not(.general) .row {
    justify-content: space-between;
  }

  .dates {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .delete {
    background-color: red;
  }
}

@media print {
  html,
  body {
    width: 210mm !important;
    height: 297mm !important;
  }

  .wrapper {
    width: 100% !important;
  }

  header,
  footer,
  button,
  .placeholder,
  .empty {
    display: none !important;
  }
}
