.navbar {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  .navbar-item {
    height: 100%;

    font-weight: bold;
    background-color: darkred;
    transition: background-color 0.1s;
    user-select: none;

    &:hover {
      background-color: red;
    }

    &:not(:last-child) {
      border-right: black solid 3px;
    }

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
